body {
    display: flex;
    justify-content: center;
}

#description {
    top: 50%;
    position: fixed;
    color: #7A7A7A;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    max-width: 50%;
}