header {
    font-family: 'Eczar', serif;
    text-align: center;
}

.title-row {
    display: flex;
    align-content: center;
    justify-content: center;
}

.title-row img {
    width: 25%;
    height: 25%;
    margin: auto;
    padding: 5%;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Eczar', serif;
    flex-wrap: wrap;
}
.menu a {
    text-decoration: none;
    padding: 1%;
}

#projects {
 color: #F2B5D4;   
}

#contact {
    color: #A1CDF1;
}

#about {
    color: #BEE8C3;
}

#orchid-pink {
    color: #F2B5D4;
}

#baby-blue-eyes {
    color: #A1CDF1;
}

#tea-green {
    color: #BEE8C3;
}

#blond {
    color: #FFF0BC;
}

#description {
    color: #7A7A7A;
    font-family: 'Raleway', sans-serif;
    max-width: 50%;
    text-align: center;
    margin:auto;
    padding-bottom: 5%;
}

footer {
    display: flex;
    justify-content: center;
    font-family: 'Eczar', serif;
    padding: 3%;
    color: #999999;
}

#email a {
    text-decoration: none;
    color: #262626;
}