header {
    font-family: 'Eczar', serif;
    text-align: center;
}

.title-row {
    display: flex;
    align-content: center;
    justify-content: center;
}

#orchid-pink {
    color: #F2B5D4;
}

#baby-blue-eyes {
    color: #A1CDF1;
}

#tea-green {
    color: #BEE8C3;
}

#blond {
    color: #FFF0BC;
}

#description {
    color: #7A7A7A;
    font-family: 'Raleway', sans-serif;
    max-width: 50%;
    text-align: center;
    margin:auto;
}