.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 1.5em;
    margin: 10%;
}

a {
    text-decoration: none;
    color: #F2B5D4;
}

/* unvisited link */
a:link {
  color: #F2B5D4;
}

/* visited link */
a:visited {
  color: #F2B5D4;
}

/* mouse over link */
a:hover {
  color: #F2B5D4;
}

/* selected link */
a:active {
  color: #F2B5D4;
}