body {
    font-family: 'Carrois Gothic', sans-serif;
}

header {
    text-align: center;
    max-width: 85%;
    margin: auto;
}


.candidates {
    margin: 5%;
}

.candidate-tile {
    margin: auto;
    padding: 3%;
}

button {
    font-size: 1em;
    cursor: pointer;
}


footer {
    width: 100%;
    margin: auto;
    bottom: 0;
    text-align: center;
}