
body {
    text-align: center;
    font-family: 'Eczar', serif;
    margin: auto;
    max-width: 90%;
}
img {
    max-width: 50%;
}

hr {
    max-width: 30%;
}

h1 {
    color: #F2B5D4;
}

h3 {
    color: #F2B5D4;
}

p {
    max-width: 90%;
    margin: auto;
} 